# **Programación Básica con Python**

# **I. Conceptos básicos de programación**

Los conceptos básicos de programación son los fundamentos esenciales que permiten entender y escribir código en cualquier lenguaje de programación. Estos conceptos son la base para desarrollar software y resolver problemas mediante la creación de instrucciones que una computadora puede ejecutar. A continuación, se definen y describen los principales conceptos básicos de programación:

## 1.1. Tipos de datos

- **Definición**: Los tipos de datos especifican qué tipo de valor puede almacenar una variable, como números enteros, decimales, cadenas de texto o valores booleanos (verdadero/falso).

- **Descripción**: Los tipos de datos determinan las operaciones que se pueden realizar con una variable. Por ejemplo, no puedes sumar directamente un número y una palabra.

**Tipos básicos de datos**:
- Entero (`int`): `42`
- Flotante (`float`): `3.14`
- Cadena (`string`): `"Hola"`
- Booleano (`bool`): `True` o `False`
- Especial (`NoneType`): `None`

Ejemplos de datos tipo Entero (`int`) y Flotande (`float`)

In [ ]:
dato_int = 25
dato_float= 20.000001

print(type(dato_int))
print(dato_int)

<class 'int'>
25

Ejemplo de datos tipo cadena de caracteres (`str`)

In [ ]:
dato_str1 = "hola"
dato_str2 = "mundo"
dato_str3 = "2024"

print(type(dato_str1))
print(dato_str1)

<class 'str'>
hola

Ejemplo de datos tipo booleano

In [ ]:
dato_bool1 = True
dato_bool2 = False

print(type(dato_bool1))
print(dato_bool1)

<class 'bool'>
True

Ejemplo de datos tipo especial.
En Python, `None` es un tipo de dato especial que representa la ausencia de un valor o un valor nulo. No es lo mismo que 0, una cadena vacía (`""`), o `False`.

In [ ]:
data_none= None

print(data_none)
print(type(data_none))

None
<class 'NoneType'>

## 1.2. Variables

- **Definición**: Una variable es un espacio en la memoria de la computadora que almacena un valor, el cual puede cambiar durante la ejecución de un programa.

- **Descripción**: Las variables tienen un nombre y un tipo de dato (como números, texto o booleanos). Actúan como contenedores para guardar información que el programa usará o modificará.

- **Ejemplo**: En Python, `edad = 25` define una variable llamada `edad` con el valor 25.

## 1.3. Operadores matemáticos

En Python, los operadores matemáticos son símbolos especiales que se utilizan para realizar operaciones aritméticas sobre valores (llamados operandos). Estos operadores permiten ejecutar cálculos, manipular números y construir expresiones matemáticas complejas.

In [ ]:
# suma
suma = dato_int + dato_float

# exponencial
exponente = 5**2

# division
cociente = 9/5
cociente_entero = 9//5
residuo = 9%5

print("suma =",suma)
print(type(suma))
print("exponente = ",exponente)
print("cociente =", cociente)
print("cociente_entero =", cociente_entero)
print("residuo =",residuo)

suma = 45.000001
<class 'float'>
exponente =  25
cociente = 1.8
cociente_entero = 1
residuo = 4

## 1.4. Importar paquetes o librerías en Python

En Python, las librerías y los paquetes son conceptos fundamentales que permiten organizar, reutilizar y compartir código. Aunque a menudo se usan indistintamente, tienen significados técnicos específicos.

* **Paquetes**: Un paquete es una forma de organizar módulos de Python en directorios (carpetas). Un directorio se considera un paquete si contiene un archivo llamado` __init__.py`. Este archivo, que puede estar vacío, le dice a Python que el directorio debe ser tratado como un paquete. Los paquetes se utilizan para agrupar módulos relacionados y crear una estructura jerárquica, lo que facilita la gestión de proyectos grandes.

* **Librerías**: Una librería (o biblioteca) es un término más general que se refiere a una colección de código ya escrito que puedes usar en tu propio programa. Las librerías de Python se distribuyen comúnmente como paquetes, pero el término "librería" se enfoca en la funcionalidad que proporcionan. Por ejemplo, **Pandas** y **Numpy** son librerías muy populares que se instalan como paquetes.

:::{figure} https://github.com/vrrp/sachabook_modulo1/blob/main/docs/images/preambulo/cajaHerramientas.png?raw=true
:name: fig:cajaHerramientas
:align: center

:::

```
paquete:
        aplicacion_01
        aplicacion_02
        . . . . . . .
        aplicacion_n
```

Formas de importar un paquete y sus aplicaciones

**Primera forma**
```
import paquete as pp

var = paquete.aplicacion_01(arg)
```

**Segunda forma**
```
import paquete as pp

var = pp.aplicacion_01(arg)
```

**Tercera forma**
```
from paquete import (aplicacion_01, aplicacion_04)

var_01 = aplicacion_01(arg)
var_02 = aplicacion_04(arg)
```

In [ ]:
import math
import numpy as np

pi_math = math.pi
pi_np = np.pi
print(pi_math)
print(pi_np)

n_euler_math = math.e
n_euler_np = np.e
print(n_euler_math)
print(n_euler_np)

3.141592653589793
3.141592653589793
2.718281828459045
2.718281828459045

## 1.5. Funciones algebraicas

Una función algebraica es un tipo de función matemática que puede ser definida mediante operaciones algebraicas básicas: suma, resta, multiplicación, división, potenciación (con exponentes racionales) y radicación. En otras palabras, son funciones que se pueden expresar a través de un número finito de estas operaciones, a partir de la variable independiente

Las funciones que no se pueden construir de esta manera se conocen como funciones trascendentes, y estas incluyen las funciones trigonométricas (seno, coseno), exponenciales y logarítmicas.

**Exponencial**

$ y=f(x) = b^{x}$

In [ ]:
y1 = n_euler_math**n_euler_np
print(y1)

15.154262241479259

**Valor absoluto**

si: $x<0, y = f(x) = |x| = (-1) \times x$

si: $x>0, y = f(x) = |x| = x$

In [ ]:
# funcion valor absoluto
y2 = np.abs(-1*dato_int)
print(y2)

25

**Raíz cuadrada**

$y=f(x) = \sqrt{x} = x^{\frac{1}{2}}$

In [ ]:
#funcion raiz cuadrada
y3 = np.sqrt(dato_int)
print(y3)

5.0

**Raiz general**

y = f(x) = $\sqrt[n]{x^m}= \frac{m}{n}$

In [ ]:
y4 = 125**(1/3)
print(y4)

4.999999999999999

**Logaritmo**

$y = log_{b}x $

$x = b^y$

In [ ]:
# funcion logaritmo de 10 en base 10
y5 = np.log10(10)
print(y5)

# funcion logaritmo de 2 en base 2
y6 = np.log2(2)
print(y6)

# funcion logaritmo de e en base e
y7 = np.log(n_euler_np)
print(y7)

1.0
1.0
1.0

## 1.6. Operadores de comparación
Los operadores de comparación son símbolos que se utilizan en la programación y las matemáticas para comparar dos valores. Estos operadores evalúan la relación entre los valores y devuelven un resultado booleano: `True` (verdadero) si la comparación es correcta, o `False` (falso) si no lo es. Son fundamentales en la lógica de control de flujo, ya que determinan el camino que debe seguir un programa, por ejemplo, en sentencias if, else o while.

In [ ]:
# operadores relacionales
# comparacion (==)
comp01 = dato_int == dato_float

# diferencia (!=)
comp02 = dato_int != dato_float

# mayor que  (>)
comp03 = dato_int > dato_float

# menor que  (<)
comp04 = dato_int < dato_float

# mayor o igual que  (>=)
comp05 = dato_int >= dato_float

# menor o igual que  (<=)
comp06 = dato_int <= dato_float

print(type(comp01), comp01)
print(type(comp02), comp02)
print(type(comp03), comp03)
print(type(comp04), comp04)
print(type(comp05), comp05)
print(type(comp06), comp06)

<class 'bool'> False
<class 'bool'> True
<class 'bool'> True
<class 'bool'> False
<class 'bool'> True
<class 'bool'> False

## 1.7. Estrucuturas de Control I: Condicionales `if`, `else` y `elif`

Las estructuras de control en Python son construcciones de programación que permiten modificar el flujo de ejecución de un programa. En lugar de ejecutar las instrucciones de forma secuencial de arriba a abajo, estas estructuras dirigen el programa para que tome decisiones, repita acciones o ejecute bloques de código específicos.

Las estructuras de control condicionales también denominadas estructuras de selección, permiten que el programa tome decisiones. El bloque de código sólo se ejecuta si se cumple una condición específica.

In [ ]:
# condicionales: if, elif, else
var = 23

if type(var)==int:
  print("var es entero")
  print("segunda accion de if")
else:
  print("var no es un numero entero")

var es entero
segunda accion de if

In [ ]:
# condicionales: if, elif, else
a = 7
b = 7

if a > b:
    print("(1)", a,">",b ,a > b)

elif a < b:
    print("(2)", a,"<",b ,a < b)

elif a == b:
    print("(3)", a,"==",b ,a == b)

(3) 7 == 7 True

## 1.8. Funciones: Parte I

En Python, una función es un bloque de código reutilizable que realiza una tarea específica. Se define con la palabra clave `def`, seguida del nombre de la función y paréntesis (). Las funciones pueden recibir datos como parámetros y devolver un resultado

**Ejemplo**: Implementar una función `area_cuadrado` para determinar el área de un cuadrado, ecuación {eq}`eq:areaCuadrado`.


:::{math}
:name: eq:areaCuadrado
 ac = l^{2}
:::

In [ ]:
def area_cuadrado(lado):
  area = lado**2
  return area

In [ ]:
ac1 = area_cuadrado(4)
print(ac1)

16

**Ejemplo**: Implementar la función convert_temp para convertir valores de temperatura de grados Celsius a la escala Kelvin y Fahrenheit, ecuaciones  {eq}`eq:c2k` y  {eq}`eq:c2f`, respectivamente.

:::{math}
:name: eq:c2k
 K = °C + 273.15
:::

:::{math}
:name: eq:c2f
 F = \frac{9}{5}\times°C +32
:::

In [ ]:
def convert_temp(tc, tipo):
  if tipo=="K":
    temp = tc + 273.15

  elif tipo=="F":
    temp = 9/5*tc + 32

  return temp

In [ ]:
convert_temp(100, "F")

212.0

In [ ]:
temp_F = convert_temp(100, "F")

In [ ]:
print(temp_F)

212.0

# **II. Estructura de datos**
Una **estructura de datos** es una forma de organizar y almacenar información en la memoria de una computadora para que pueda ser utilizada de manera eficiente. En Python, estos objetos permiten manejar colecciones de datos, facilitando tareas como buscar, ordenar, insertar y eliminar elementos.

## 2.1. Cadenas
En Python, una cadena es una secuencia inmutable de caracteres. Esto significa que una vez que se crea una cadena, su contenido no se puede cambiar. Las cadenas se utilizan para representar texto, como nombres, oraciones, o cualquier otro tipo de dato textual.

In [ ]:
# Estructuras tipo cadena de caracteres
var_cadena = "las estaciones del año son: verano, otoño, invierno y primavera"

print(var_cadena)
print(len(var_cadena))

print(var_cadena[3:14])
print(type(var_cadena))

las estaciones del año son: verano, otoño, invierno y primavera
63
 estaciones
<class 'str'>

In [ ]:
departamentos_peru = "algunos departamentos de Perú son: Lima, Ica, Arequipa y Tacna"

print(departamentos_peru)
print(len(departamentos_peru))
print(departamentos_peru[35:39])
print(type(departamentos_peru))

algunos departamentos de Perú son: Lima, Ica, Arequipa y Tacna
62
Lima
<class 'str'>

In [ ]:
separar_frase = departamentos_peru.split(" ")

print(separar_frase)
print(type(separar_frase))

['algunos', 'departamentos', 'de', 'Perú', 'son:', 'Lima,', 'Ica,', 'Arequipa', 'y', 'Tacna']
<class 'list'>

## 2.2. Listas
Las listas son colecciones ordenadas y mutables, lo que significa que puedes añadir, eliminar o modificar elementos después de su creación. Son muy versátiles y se usan comúnmente para almacenar elementos del mismo tipo, aunque pueden contener datos de diferentes tipos.

In [ ]:
# listas
lista_01 = ["hola", 2024, "mundo", 2024.5]

print(lista_01)
print(len(lista_01))
print(lista_01[0])

lista_01[3]= "Peru 2025"
print(lista_01)

print(type(lista_01[1]))

['hola', 2024, 'mundo', 2024.5]
4
hola
['hola', 2024, 'mundo', 'Peru 2025']
<class 'int'>

Operaciones con listas

In [ ]:
lista_02 = [12,3,3,2]

lista_03 = [1,2,3,4]

Concatenar o juntar dos listas

In [ ]:
suma_lista23 = lista_02 + lista_03
print(suma_lista23)

[12, 3, 3, 2, 1, 2, 3, 4]

reproducir una lista

In [ ]:
prod_lista23 = 3* lista_03
print(prod_lista23)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

Agregar o insertar datos nuevos en una lista

In [ ]:
lista_02.append(10)
print(lista_02)

[12, 3, 3, 2, 10]

In [ ]:
lista_02.append("hola tierra")
lista_02.append("2024")
print(lista_02)

[12, 3, 3, 2, 10, 'hola tierra', '2024']

Insertar o agregar un dato nuevo en una posición específica de una lista

In [ ]:
lista_02.insert(6, "siempre feliz")

print(lista_02)

[12, 3, 3, 2, 10, 'hola tierra', 'siempre feliz', '2024']

## 2.3. Array 1D

Un array 1D de NumPy es una estructura de datos fundamental en la biblioteca NumPy de Python, diseñada para almacenar una colección de elementos del mismo tipo de datos, como números enteros o de punto flotante. A diferencia de las listas estándar de Python, los arrays de NumPy están optimizados para operaciones matemáticas y científicas, lo que los hace significativamente más rápidos y eficientes en el manejo de grandes volúmenes de datos numéricos.

In [ ]:
import numpy as np

# array 1D: np.array()
array_meses_num = np.array([1,2,3,4,5,6,7,8,9,10,11,12])

print(array_meses_num)
print(type(array_meses_num))
print(len(array_meses_num))

[ 1  2  3  4  5  6  7  8  9 10 11 12]
<class 'numpy.ndarray'>
12

Generar un array usando la función `arange` del paquete Numpy

In [ ]:
# array 1D: np.arange(val_i, num_vals, incremento)
array_arange01 = np.arange(-20, 10, 0.5)

print(array_arange01)
print(len(array_arange01))

[-20.  -19.5 -19.  -18.5 -18.  -17.5 -17.  -16.5 -16.  -15.5 -15.  -14.5
 -14.  -13.5 -13.  -12.5 -12.  -11.5 -11.  -10.5 -10.   -9.5  -9.   -8.5
  -8.   -7.5  -7.   -6.5  -6.   -5.5  -5.   -4.5  -4.   -3.5  -3.   -2.5
  -2.   -1.5  -1.   -0.5   0.    0.5   1.    1.5   2.    2.5   3.    3.5
   4.    4.5   5.    5.5   6.    6.5   7.    7.5   8.    8.5   9.    9.5]
60

Generar un array usando la función `zeros` del paquete Numpy

In [ ]:
# array 1D: np.zeros()
array_zeros01 = np.zeros(4)

print(array_zeros01)
print(type(array_zeros01))
print(len(array_zeros01))
print(np.ndim(array_zeros01))
print(np.shape(array_zeros01))

[0. 0. 0. 0.]
<class 'numpy.ndarray'>
4
1
(4,)

Remplazar todos los valores de un array con valores `nan`

In [ ]:
array_zeros01[...] = np.nan
print(array_zeros01)

[nan nan nan nan]

Editar array `nan` con datos numéricos

In [ ]:
print(lista_01[1])

array_zeros01[2]= lista_01[1]
print(array_zeros01)

2024
[  nan   nan 2024.   nan]

Operaciones con arrays.

In [ ]:
prod_escalar = 2*array_meses_num
print(prod_escalar)

[ 2  4  6  8 10 12 14 16 18 20 22 24]

In [ ]:
temp_aire = np.arange(10, 35, 0.5)
print(temp_aire)

[10.  10.5 11.  11.5 12.  12.5 13.  13.5 14.  14.5 15.  15.5 16.  16.5
 17.  17.5 18.  18.5 19.  19.5 20.  20.5 21.  21.5 22.  22.5 23.  23.5
 24.  24.5 25.  25.5 26.  26.5 27.  27.5 28.  28.5 29.  29.5 30.  30.5
 31.  31.5 32.  32.5 33.  33.5 34.  34.5]

Generar fechas dato usando la función `date_range` del paquete Pandas.

In [ ]:
# importar pandas
import pandas as pd

#fechas = pd.date_range(start='1984-01-01', end='1984-01-30', freq='D')
fechas = pd.date_range(start='1984-01-01', periods=len(temp_aire), freq='D')
#fechas = pd.date_range(start=pd.to_datetime('today'), periods=len(temp_aire), freq='D').sttftime('%Y-%m-%d')
print(fechas)

DatetimeIndex(['1984-01-01', '1984-01-02', '1984-01-03', '1984-01-04',
               '1984-01-05', '1984-01-06', '1984-01-07', '1984-01-08',
               '1984-01-09', '1984-01-10', '1984-01-11', '1984-01-12',
               '1984-01-13', '1984-01-14', '1984-01-15', '1984-01-16',
               '1984-01-17', '1984-01-18', '1984-01-19', '1984-01-20',
               '1984-01-21', '1984-01-22', '1984-01-23', '1984-01-24',
               '1984-01-25', '1984-01-26', '1984-01-27', '1984-01-28',
               '1984-01-29', '1984-01-30', '1984-01-31', '1984-02-01',
               '1984-02-02', '1984-02-03', '1984-02-04', '1984-02-05',
               '1984-02-06', '1984-02-07', '1984-02-08', '1984-02-09',
               '1984-02-10', '1984-02-11', '1984-02-12', '1984-02-13',
               '1984-02-14', '1984-02-15', '1984-02-16', '1984-02-17',
               '1984-02-18', '1984-02-19'],
              dtype='datetime64[ns]', freq='D')

## 2.4. Data Frame

Un **DataFrame** es una estructura de datos bidimensional, similar a una hoja de cálculo o a una tabla de una base de datos. Se compone de filas y columnas, donde cada columna puede tener un tipo de dato diferente (números, texto, booleanos, etc.) y cada fila representa una observación o registro. Es uno de los objetos más importantes de Pandas y la base para el análisis y la manipulación de datos en Python.

---

**Descripción y características clave**

* **Estructura de tabla**: Un DataFrame se parece a una tabla de Excel o a un `SELECT` de una base de datos. Tiene **etiquetas de columna** (nombres para cada columna) y un **índice de fila** que permite acceder a los registros.

* **Heterogeneidad de datos**: A diferencia de los arrays de NumPy, donde todos los elementos deben ser del mismo tipo, cada columna en un DataFrame puede contener datos de un tipo distinto. Esto lo hace ideal para trabajar con datos del mundo real, que suelen ser una mezcla de números, texto, fechas, etc.

* **Manipulación de datos**: Pandas ofrece un conjunto de herramientas muy eficientes para trabajar con DataFrames, permitiendo realizar operaciones como:
    * **Filtrado y selección**: Se pueden seleccionar filas o columnas basándose en condiciones específicas.
    * **Limpieza de datos**: Manejar valores faltantes (`NaN`), eliminar duplicados o corregir errores.
    * **Análisis**: Realizar cálculos estadísticos (media, mediana, desviación estándar), agrupar datos, y unirlos con otros DataFrames.
    * **Entrada y salida (I/O)**: Es muy fácil leer datos desde archivos (CSV, Excel, JSON) y escribir resultados en los mismos formatos.

En resumen, el DataFrame de Pandas simplifica la manipulación y el análisis de datos complejos, proporcionando una estructura intuitiva y herramientas potentes para que los científicos de datos y los analistas trabajen de forma productiva.

In [ ]:
# crear data frame
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

Insertar datos de `fechas` en el data frame `df`

In [ ]:
df["fecha"]= fechas
print(df)

        fecha
0  1984-01-01
1  1984-01-02
2  1984-01-03
3  1984-01-04
4  1984-01-05
5  1984-01-06
6  1984-01-07
7  1984-01-08
8  1984-01-09
9  1984-01-10
10 1984-01-11
11 1984-01-12
12 1984-01-13
13 1984-01-14
14 1984-01-15
15 1984-01-16
16 1984-01-17
17 1984-01-18
18 1984-01-19
19 1984-01-20
20 1984-01-21
21 1984-01-22
22 1984-01-23
23 1984-01-24
24 1984-01-25
25 1984-01-26
26 1984-01-27
27 1984-01-28
28 1984-01-29
29 1984-01-30
30 1984-01-31
31 1984-02-01
32 1984-02-02
33 1984-02-03
34 1984-02-04
35 1984-02-05
36 1984-02-06
37 1984-02-07
38 1984-02-08
39 1984-02-09
40 1984-02-10
41 1984-02-11
42 1984-02-12
43 1984-02-13
44 1984-02-14
45 1984-02-15
46 1984-02-16
47 1984-02-17
48 1984-02-18
49 1984-02-19

Insertar datos de temperatura del aire (`temp_aire`) en el data frame `df`

In [ ]:
df["temperatura"]= temp_aire
print(df.head(n=5))

       fecha  temperatura
0 1984-01-01         10.0
1 1984-01-02         10.5
2 1984-01-03         11.0
3 1984-01-04         11.5
4 1984-01-05         12.0

Estimar la humedad relativa (`hr`) en función de datos de temperatura del aire (`temp_aire`) e insertar el resultado en el data frame `df`

In [ ]:
hr = 2.5*temp_aire +5.6

df["humedad_relativa"] = hr
print(df.head(n=5))

       fecha  temperatura  humedad_relativa
0 1984-01-01         10.0             30.60
1 1984-01-02         10.5             31.85
2 1984-01-03         11.0             33.10
3 1984-01-04         11.5             34.35
4 1984-01-05         12.0             35.60

In [ ]:
# numero total de elementos o medidas del data frame
print(df.size)

# dimensiones del data frame
print(df.shape)

# nombres de las columnas
print(df.columns)

150
(50, 3)
Index(['fecha', 'temperatura', 'humedad_relativa'], dtype='object')

## 2.5. Estructuras de Control II: bucle `for`

Las estructuras de control tipo bucle (o loop) en Python son construcciones de código que permiten ejecutar un bloque de instrucciones de manera repetida. Su propósito principal es automatizar tareas que deben realizarse múltiples veces, ya sea un número fijo de veces o hasta que se cumpla una condición específica.

El bucle `for` se utiliza para iterar sobre una secuencia de elementos, como una lista, una tupla, un diccionario o una cadena de texto. La iteración se detiene automáticamente una vez que se han procesado todos los elementos de la secuencia.

Control de flujo: **for**


```
for arg01 in arg02:
    aplicacion_01
    aplicacion_02
       ........
    aplicacion_n
```

**Ejemplo**: Uso de del bucle `for` en estructura de datos lista



```
lista_01 = ["hola", 2024, "mundo", 2024.5]
              |       |      |       |
              v       v      v       v
              0       1      2       3
```

In [ ]:
print(lista_01[0])
print(lista_01[1])

hola
2024

In [ ]:
n_elem = len(lista_01)
print(n_elem)

4

In [ ]:
for i in range(n_elem):
  print(lista_01[i])

hola
2024
mundo
Peru 2025

Analisis exploratorio y procesamiento de la variable `lista_01`

In [ ]:
for i in range(n_elem):
  if type(lista_01[i])==int:
    lista_01[i]= str(lista_01[i])
    print(lista_01[i])

2024

In [ ]:
print(lista_01)

['hola', '2024', 'mundo', 'Peru 2025']

**Ejemplo**: Uso de del bucle `for` en estructura de datos Data Frame

In [ ]:
print(df.head(n=5))

       fecha  temperatura  humedad_relativa
0 1984-01-01         10.0             30.60
1 1984-01-02         10.5             31.85
2 1984-01-03         11.0             33.10
3 1984-01-04         11.5             34.35
4 1984-01-05         12.0             35.60

In [ ]:
print(df.describe())

                     fecha  temperatura  humedad_relativa
count                   50     50.00000         50.000000
mean   1984-01-25 12:00:00     22.25000         61.225000
min    1984-01-01 00:00:00     10.00000         30.600000
25%    1984-01-13 06:00:00     16.12500         45.912500
50%    1984-01-25 12:00:00     22.25000         61.225000
75%    1984-02-06 18:00:00     28.37500         76.537500
max    1984-02-19 00:00:00     34.50000         91.850000
std                    NaN      7.28869         18.221725

In [ ]:
# Usando un bucle for (menos eficiente para DataFrames grandes)
estaciones = []

for data in df["temperatura"]:
  if data > 28:
    estaciones.append("verano")
  else:
    estaciones.append(np.nan)

In [ ]:
print(estaciones)

[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'verano', 'verano', 'verano', 'verano', 'verano', 'verano', 'verano', 'verano', 'verano', 'verano', 'verano', 'verano', 'verano']

In [ ]:
print(df.head(n=5))

       fecha  temperatura  humedad_relativa
0 1984-01-01         10.0             30.60
1 1984-01-02         10.5             31.85
2 1984-01-03         11.0             33.10
3 1984-01-04         11.5             34.35
4 1984-01-05         12.0             35.60

In [ ]:
df["estacion"] = estaciones

In [ ]:
print(df)

        fecha  temperatura  humedad_relativa estacion
0  1984-01-01         10.0             30.60      NaN
1  1984-01-02         10.5             31.85      NaN
2  1984-01-03         11.0             33.10      NaN
3  1984-01-04         11.5             34.35      NaN
4  1984-01-05         12.0             35.60      NaN
5  1984-01-06         12.5             36.85      NaN
6  1984-01-07         13.0             38.10      NaN
7  1984-01-08         13.5             39.35      NaN
8  1984-01-09         14.0             40.60      NaN
9  1984-01-10         14.5             41.85      NaN
10 1984-01-11         15.0             43.10      NaN
11 1984-01-12         15.5             44.35      NaN
12 1984-01-13         16.0             45.60      NaN
13 1984-01-14         16.5             46.85      NaN
14 1984-01-15         17.0             48.10      NaN
15 1984-01-16         17.5             49.35      NaN
16 1984-01-17         18.0             50.60      NaN
17 1984-01-18         18.5             51.85      NaN
18 1984-01-19         19.0             53.10      NaN
19 1984-01-20         19.5             54.35      NaN
20 1984-01-21         20.0             55.60      NaN
21 1984-01-22         20.5             56.85      NaN
22 1984-01-23         21.0             58.10      NaN
23 1984-01-24         21.5             59.35      NaN
24 1984-01-25         22.0             60.60      NaN
25 1984-01-26         22.5             61.85      NaN
26 1984-01-27         23.0             63.10      NaN
27 1984-01-28         23.5             64.35      NaN
28 1984-01-29         24.0             65.60      NaN
29 1984-01-30         24.5             66.85      NaN
30 1984-01-31         25.0             68.10      NaN
31 1984-02-01         25.5             69.35      NaN
32 1984-02-02         26.0             70.60      NaN
33 1984-02-03         26.5             71.85      NaN
34 1984-02-04         27.0             73.10      NaN
35 1984-02-05         27.5             74.35      NaN
36 1984-02-06         28.0             75.60      NaN
37 1984-02-07         28.5             76.85   verano
38 1984-02-08         29.0             78.10   verano
39 1984-02-09         29.5             79.35   verano
40 1984-02-10         30.0             80.60   verano
41 1984-02-11         30.5             81.85   verano
42 1984-02-12         31.0             83.10   verano
43 1984-02-13         31.5             84.35   verano
44 1984-02-14         32.0             85.60   verano
45 1984-02-15         32.5             86.85   verano
46 1984-02-16         33.0             88.10   verano
47 1984-02-17         33.5             89.35   verano
48 1984-02-18         34.0             90.60   verano
49 1984-02-19         34.5             91.85   verano

## 2.6. Funciones: Parte II

In [ ]:
df["temp_K"] = convert_temp(df["temperatura"], "K")

In [ ]:
print(df.head(n=5))

       fecha  temperatura  humedad_relativa estacion  temp_K
0 1984-01-01         10.0             30.60      NaN  283.15
1 1984-01-02         10.5             31.85      NaN  283.65
2 1984-01-03         11.0             33.10      NaN  284.15
3 1984-01-04         11.5             34.35      NaN  284.65
4 1984-01-05         12.0             35.60      NaN  285.15

# **III. Referencias**

**Libros y manuales**

- Libro de estadisitica con python

  https://www.editorial-sciela.org/index.php/sciela/article/view/16/49

- Introducción a la teoria de probabilidades

  https://ciladi.org/wp-content/uploads/Version_final_Introduccion-Probabilidad-Python-vf_Bayas-3.pdf

- Guía practica de análsis exploratorio de python

  https://datos.gob.es/sites/default/files/doc/file/guia_eda_python.pdf


**Cursos en linea**

- Estadística W3School:

  https://www.w3schools.com/statistics/index.php

- Estadística con python:

  https://docs.python.org/es/3/library/statistics.html

- Kaggle:

  https://www.kaggle.com/code/saurav9786/statistics-for-data-scientists

**Aplicaciones IA**

- Gemini iA

  https://gemini.google.com

- DeepSeek

  https://www.deepseek.com/

- Chat GPT

  https://chatgpt.com/

- Claude IA

  https://claude.ai/

- Julius IA:

  https://julius.ai